.margin {
    margin-bottom: 20px;
}

.welcome {
    background-color: #dce8fd; /* light blue */
    font: 20px Century Gothic, sans-serif;
    line-height: 1.8;
    color: #555555;
    text-align: center;
    padding-top: 80px;
    font: 30px Century Gothic, sans-serif;
}


img[src="images/server.png"] {
    display: inline;
    margin: auto;
    width: 350px;
    height: 350px;
}

.login {
    background-color: #dce8fd; /* light blue */
    color: #555555;
}
.login-container {
    margin: auto;
    padding: 90px;
}
