.margin {
    margin-bottom: 20px;
}

.welcome {
    background-color: #dce8fd; /* light blue */
    font: 20px Century Gothic, sans-serif;
    line-height: 1.8;
    color: #555555;
    text-align: center;
    padding-top: 80px;
}


img[src="images/server.png"] {
    display: inline;
    margin: auto;
    width: 350px;
    height: 350px;
}

.login {
    background-color: #dce8fd; /* light blue */
    color: #555555;
    font: 20px Century Gothic, sans-serif;
}
.login-container {
    padding-top: 50px;
    padding-bottom: 15px;
}

.newUserContainer {
    margin: auto;
    padding: 10px;
}

p {
    text-align: center;
}


.loginForm {
    margin: 0 auto;
    width: 300px;
}